<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
 <head>
 <meta charset="utf-8">
 <title>学習報告一覧</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="css/learningReportList.css">
 </head>
<body>
  <div  class="l">
  <form th:action="@{/learningReportList}"  th:object="${learningreport}" method="POST">
	<button formaction="/learningReportList" name="back">戻る</button>
	  </form>
	  </div>
  <div class="contents">
      <h1>学習報告一覧</h1>
      
    <div class="warapper">
    <table>
      <thead>
        <tr class="item-name">
          <th>No.</th>
          <th>日付</th>
          <th>開始時間</th>
          <th>終了時間</th>
          <th>総時間</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody  class="record">
        <tr th:each="learningreport,s:${learningreport}" class="record">
          <td th:text="${s.count}"></td>
          <td th:text="${learningreport.created_at}"></td>
          <td th:text="${learningreport.start_time}"></td>
          <td th:text="${learningreport.end_time}"></td>
          <td th:text="${learningreport.total_time}"></td>
          <td>
            <form th:action="@{/learningReportList}" method="post">
                <button name="edit">編集</button>
                <input type="hidden" name="rema" th:value="${learningreport.rema}">
            </form>
        </td>
        <td>
            <form th:action="@{/learningReportList}" method="post">
              <button  name="delete">削除</button>
                <input type="hidden" name="rema" th:value="${learningreport.rema}">
            </form>
        </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

</body>

</html>