<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <!--/* ログイン失敗/ログアウトはgetパラメータにステータスが渡されているので、Thymeleafではparamから取得 */-->
    <div th:if="${param.logout}">
            ログイン失敗しました。
    </div>
    <div th:if="${param.error}">
            名前またはパスワードが違います。
    </div>
    
    <!--/* 「/sign_in」がログイン判定処理を呼び出すViewNameとなっている */-->
	<form th:action="@{/sign_in}" method="post">
	    <input type="text" name="username">user_name
	    <br/>
	    <input type="password" name="password">password
	    
	    <br/>
	    
	    <input type="submit" value="Login">
	</form>
</body>
</html>
