<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
<title>ユーザー新規登録</title>
<link href="/css/NewRegister.css"rel="stylesheet">
</head>

<body>

<div class="contents">
<div class="header">
      <h1>ユーザー新規登録</h1>
         </div>
   <div class="form">
   <div th:if="${validationError}" th:each="error:${validationError}"></div>
			<form th:action="@{/user/create}" th:object="${userRequest}" th:method="post">
				<table>
					<tr th:if="${validationError}" th:each="error : ${validationError}">
						<td style="color: red;" th:text="${error}"></td>
					</tr>
				</table>  

	<input type="text" placeholder="ID"name="user_id" th:field="*{user_id}">
    <input type="text" placeholder="名前" name="name" th:field="*{name}">
    <input type="text"  placeholder="Email"name="mail_address" th:field="*{mail_address}">
    <input type="text"  placeholder="Password"name="password" th:field="*{password}">
    <button id="register"type="submit">登録</button>
    </form>
    <a th:href="@{/login}">
	<button type="submit">戻る</button> </a>
	  </div>
	   </div>
</body>

</html>