<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
<title>ユーザー新規登録</title>
<link href="/css/NewRegister.css"rel="stylesheet"></link>
</head>
<body>
<form name="newRegister_form">
      <div class="newRegister_form_top">
        <h1>ユーザー新規登録</h1>
      </div>
        </form>
  <form class="newRegister-container">
    <input type="name" placeholder="名前">
    <input type="id" placeholder="ID">
    <input type="password"  placeholder="Password">
    <input type="mail"  placeholder="Email">
    <button type="" value="登録"></button>
    <button type="back" value="戻る"></button>
  </form>
  </body>
 </html>