<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
<title>ユーザー新規登録</title>
<html lang="en">
<link href="/css/NewRegister.css"rel="stylesheet">
</head>
<body>

<form name="newRegister_form">
      <div class="newRegister_form_top">
        <h1>ユーザー新規登録</h1>
      </div>
      
<form th:action="@{/user/create}" th:object="${userRequest}" th:method="post">

  <form class="newRegister-container">
   <p><input type="text" name="name" th:field=”*{name}”placeholder="名前"></p>
   <p><input type="text"　th:field="*{user}" placeholder="ID"></p>
   <p><input type="password"  placeholder="Password"></p>
   <p><input type="mail"  placeholder="Email"></p>
   <p><button id="register"> 登録</button></p>
   <p><button id="back"> 戻る</button></p>
  </form>
</body>
</html>