<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登録完了</title>
<link rel="stylesheet" href="completion.css">
</head>
<body>
<div class="wrapper">


       

        <div class="center">

            <p class="p1">登録完了いたしました。 </p>  
           

        </div>

        <div class="footer">

            <button class="return-top" type="“button”" onclick="location.href=''">TOPに戻る</button>
			<button class="return-list" type="“button”" onclick="location.href=''">一覧に戻る</button>
		

        </div>



    
       
    </div>
</body>
</html>