<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
<title>トップページ</title>
<link rel="stylesheet" href="/css/topStyle.css">
</head>
   <body>
  <form name="newRegister_form">

    <header class="header">
      <!-- ヘッダーロゴ -->
      <div class="logo">トップページ</div>
      <div class="nav">
     <form class="topPage-container"> 
      </div>
      <body>
    </header>
 <table border="1">
    <tr>
      <td><a href='/userlist/1'>ユーザー編集</a></td>
    </tr>
    <tr>
      <td><a href="/learningNew">新規学習報告</a></td>
    </tr>
    <tr>
      <td><a href="/learningReportList">学習報告一覧</a></td>
    </tr>
    <tr>
      <td><a href="/login">ログアウト</a></td>
    </tr>
  </table>
 </form>
 </body>
</html>


<!--form th:action="@{/home}" method="post">
                <button name="list">学習報告一覧</button>
                <input type="hidden" name="user_id" th:value="${user_id.user_id}">
                 <button name="list">学習報告一覧</button>
                <input type="hidden" name="user_id" th:value="${user_id.user_id}">
                 <button name="list">学習報告一覧</button>
                <input type="hidden" name="user_id" th:value="${user_id.user_id}">
                 <button name="list">学習報告一覧</button>
                <input type="hidden" name="user_id" th:value="${user_id.user_id}">
            </form-->

            