<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"lang="en">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
<title>トップページ</title>
<link rel="stylesheet" href="/css/topStyle.css">
</head>
    <header class="header">
      <!-- ヘッダーロゴ -->
      <div class="logo">トップページ</div>
      </header>
      <body>
     <div class="topPage-container"> 


 <table border="1">
    <tr>
    <td><form th:action="@{/home}" method="post">
                <button name="useredit">ユーザー編集</button>
                <input type="hidden" name="">
            </form></td>
    </tr>
    <tr>
    <td><form th:action="@{/home}" method="post">
                <button name="new">新規学習報告</button>
                <input type="hidden" name="">
            </form></td>
    </tr>
    <tr>
      <td><form th:action="@{/home}" method="post">
                <button name="list">学習報告一覧</button>
                
            </form></td>
    </tr>
    <tr>
      <td><form th:action="@{/home}" method="post">
                <button name="logout">ログアウト</button>
                <input type="hidden" name="">
            </form></td>
    </tr>
  </table>
 </div>
 </body>
</html>