<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>ユーザー編集</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/UserEdit.css"></head>
<body>
<form th:action="@{/userEdit/complete}" name="login_form" th:object="${UserEditForm}" th:method="post">
<div class="login_form_top">
      <h1>ユーザー編集</h1>
      </div>
    <input type="text" placeholder="ID"name="user_id" th:field="*{user_id}">
    <input type="text" placeholder="名前" name="name" th:field="*{name}">

 <input type="password"  placeholder="Password"name="password" th:field="*{password}">
 <input type="text"  placeholder="Email"name="mail_address" th:field="*{mail_address}">
    <button id="change"type="submit"> 更新</button>
    <button id="back" th:href="@{/top}">戻る</button>
  </form>
</body>
</html>