<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="weekEdit.css">
</head>
<body>
	<div class="wapper">
		<div class="header">
			<div align="right">
				<a href="#">ページトップへ戻る</a>
			</div>
		</div>
		<h1>週間報告編集フォーム</h1>
		<p>報告をお願いいたします。</p>
		<p>週間報告編集</p>
		<form method="" action="">
			<table class="form-text" id="table_edit">
				<tr>
					<td>日付(年/月/日)</td>
					<td>開始時間</td>
					<td>終了時間</td>
					<td>学習時間</td>
					<td>カリキュラム名</td>
				</tr>
				<tr>
					<td><input type="week"></td>
					<td><input type="time"></td>
					<td><input type="time"></td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td><input type="week"></td>
					<td><input type="time"></td>
					<td><input type="time"></td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td><input type="week"></td>
					<td><input type="time"></td>
					<td><input type="time"></td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td><input type="week"></td>
					<td><input type="time"></td>
					<td><input type="time"></td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td><input type="week"></td>
					<td><input type="time"></td>
					<td><input type="time"></td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td><input type="week"></td>
					<td><input type="time"></td>
					<td><input type="time"></td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
				<tr>
					<td><input type="week"></td>
					<td><input type="time"></td>
					<td><input type="time"></td>
					<td><input type="text"></td>
					<td><input type="text"></td>
				</tr>
			</table>
		</form>
		<p>
			<button id="csv_button">登録</button>
			<button id="json_button">キャンセル</button>
		</p>
		<textarea id="data"></textarea>
	</div>
</body>
</html>