
<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>週間報告一覧</title>
	<link rel="stylesheet" href="list.css"></head>
	
	<body>
		<div class="wrapper">
			<div class="header">
				<p class="p1">週間報告一覧
				<button class="b1" type="“button”" onclick="location.href=''">新規登録</button>
				<button class="b3" type="“button”" onclick="location.href=''">TOP</button>
			</p>
			</div>
		<div class="contents clearfix">
	
			<div class="left clearfix">
				<div class="leftmenu clearfix">
					<a href="#" class="example">
						<img width="200" src="https://i.pinimg.com/564x/80/c2/5c/80c25c9bb1bbccc75138cbdb11157975.jpg" alt="日付">
					</a>
	
						
					<div class="leftmenu-lower">
	
						<p class="p2">TOTAL:     (h)</p>
	
					</div>
				</div>
			</div>
	
			  <div class="right">
						   <table border="1">
							   <tbody>
								
								<tr bgcolor="pink">
								   <th>日付(年/月/日)</th>
									<th>開始時刻</th>
								  <th>修了時刻</th>
								   <th>学習時刻(h)</th>
								  <th>カリキュラム名</th>
								</tr>
								 <tr>
								   <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 </tr>
								<tr>
								   <td></td>
								   <td></td>
								   <td></td>
								   <td></td>
								   <td></td>
						   
								</tr>
							  <tr>
								   <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 </tr>
							   <tr>
								   <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 </tr>
								<tr>
								   <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 </tr>
							  <tr>
								   <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 </tr>
							  <tr>
								   <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 <td></td>
								 </tr>
					 
							 </tbody>
					
							</table>
							 <button class="b2" type="“button”" onclick="location.href=''">編集</button>
	
							<div class="total">
								<p class="p3">total(週)(h)</p>
							 </div>
				
				</div>
	
								<div class="footer"></div>
			
		</div>
	
		</div>
		
	
	
	</body>
	
</html>