<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>週間報告一覧</title>
<link rel="stylesheet" href="list.css"></head>

<body>
	<div class="wrapper">
		<div class="header">週間報告一覧</div>
	<div class="contents clearfix">
		  <div class="right">
		   <table border="1">
			   <tr>
 				     <th>日付(年/月/日)</th>
 				     <th>開始時刻</th>
 				     <th>修了時刻</th>
 				     <th>学習時刻(h)</th>
 				     <th>カリキュラム名</th>
 			   </tr>
  			   <tr>
   				    <td></td>
     				<td></td>
     				<td></td>
     				<td></td>
     				<td></td>
  			   </tr>
 			   <tr>
   				    <td></td>
   				    <td></td>
   				    <td></td>
   				    <td></td>
   				    <td></td>
   				    
 			   </tr>
 			     <tr>
   				    <td></td>
     				<td></td>
     				<td></td>
     				<td></td>
     				<td></td>
  			   </tr>
  			     <tr>
   				    <td></td>
     				<td></td>
     				<td></td>
     				<td></td>
     				<td></td>
  			   </tr>
  			     <tr>
   				    <td></td>
     				<td></td>
     				<td></td>
     				<td></td>
     				<td></td>
  			   </tr>
  			     <tr>
   				    <td></td>
     				<td></td>
     				<td></td>
     				<td></td>
     				<td></td>
  			   </tr>
  			     <tr>
   				    <td></td>
     				<td></td>
     				<td></td>
     				<td></td>
     				<td></td>
  			   </tr>
  			   
			 </table>
			</div>
		  
		  
		<div class="leftmenu">
			<div class="leftmenu-calendar"></div>
			<div class="leftmenu-lower">total</div>
			
			</div>
		
	</div>
	</div>
	

</body>
</html>